.nav-bar{
    display: flex;
    direction: row;
    width:100%;
    height:5%;
    justify-content: space-between; /* Add this
     line */
    
}

.nav-button{
    font-family:Arial black,sans-serif;
    font-size: 0.8em;
    border: 1px solid;
    background-color:antiquewhite;
    width:20%;
    height:100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

.nav-select{
    text-align: center;
    border: 1px solid;
    font-size: 0.8em;
    font-family:Arial black,sans-serif;
    width:20%;
    height:100%;
    margin:0;
    padding:0;
    background-color:antiquewhite;
    box-sizing: border-box;

}

.xml-input{
    border:solid;
    display:flex;
    direction:row;
    width:100%;
    height:25%;
    border-radius: 15px;
    
   /*Top,right,bottom,left i always forget so wrote it down lol */


}

.big-box{
    /* border:solid; */
    border-color: aqua;
    width:60%;
    height:20%;
    display:flex;
    flex-direction: column;
    margin:10% 20% 0% 20%

    /* margin: 10% 30% 0% 30%;  Top,right,bottom,left */

    
}

.link-insert{
    font-size: 25px;
    text-align: center;
    width:70%;
    height:100%;

}

.sub-but{
    border:none;
    background-color: rgb(47, 120, 197);
    border-radius: 10px;
    font-size: 1em;
    font-family:Arial black,sans-serif;

    width:30%;
    height:100%;

}


body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: hidden;
    background-image: linear-gradient(90deg, #020024 0%, #090979 15%, #00d4ff 100%);


}

.title-div{
    display: flex;
    border:solid;
}

#Readable-title {
    display: inline-block;
    cursor: pointer;

    background-image: linear-gradient(#00d4ff, #00d4ff);
    background-repeat: no-repeat;

    background-size: 10px 100%;
    background-position: 0,0;
    transition:
        background-size 0.5s, background-position 0.3s 0.5s;
        
    font-family: Arial black, sans-serif;
    width: 40%;
    text-align: center;
    border: solid;
    margin: 10% 30% 0% 30%;
    border-radius: 15px; /* Adjust the value to your preference for rounded corners */
}

#Readable-title:hover {
    background-size: 100% 100%;
    background-position: 100% 0;
    transition:allbackground-position 0.3s, 
    background-size 0.5s 0.3s;
}

::placeholder {
    font-size: 25px;
    text-align: center;
  }


.box{
    border:solid;
    background-color:antiquewhite;

    width:100%;
    height:50%;

}

.box-inner-text{
    font-size: 1.5em;
    background-color: aqua;
}

.clickedHighlight{
    background-color:rosybrown;
}